{
	"modules":
	[
		{
			"name": "contacts",
			"caption": "Contacts",
			"captionOffset": 0,
			"iconFile": "contacts.png",
			"iconTitleFile": "contacts_title.png",
			"source": "contacts_ui.qml",
			"profile": "roaming",
			"autoload": true
		},
		{
			"name": "mail",
			"caption": "Mail",
			"captionOffset": 0,
			"iconFile": "mail.png",
			"iconTitleFile": "mail_title.png",
			"source": "mail_ui.qml",
			"profile": "roaming",
			"autoload": false
		},
		{
			"name": "wallet",
			"caption": "Wallet",
			"captionOffset": 3,
			"iconFile": "wallet.png",
			"iconTitleFile": "wallet_title.png",
			"source": "wallet_ui.qml",
			"profile": "roaming",
			"autoload": false
		}
	]
}
