{
	"modules":
	[
		{
			"name": "contacts",
			"caption": "Contacts",
                        "iconFile": "contacts_main.png",
                        "iconTitleFile": "contacts.png",
                        "source": "contacts_ui.qml",
			"profile": "roaming",
                        "autoload": true,
                        "profiles":
                        {
                            "desktop":
                            {
                                "captionOffset": 0,
                                "iconLeftPadding": 0,
                                "iconTitleTopPadding": -4
                            },
                            "android":
                            {
                                "captionOffset": 0,
                                "iconLeftPadding": -6,
                                "iconTitleTopPadding": -4
                            }
                        }
		},
		{
			"name": "mail",
			"caption": "Mail",
                        "iconFile": "mail_main.png",
                        "iconTitleFile": "mail.png",
                        "source": "mail_ui.qml",
			"profile": "roaming",
                        "autoload": false,
                        "profiles":
                        {
                            "desktop":
                            {
                                "captionOffset": 0,
                                "iconLeftPadding": 0,
                                "iconTitleTopPadding": -7
                            },
                            "android":
                            {
                                "captionOffset": 0,
                                "iconLeftPadding": -3,
                                "iconTitleTopPadding": -7
                            }
                        }
                },
		{
			"name": "wallet",
			"caption": "Wallet",
                        "iconFile": "wallet_main.png",
                        "iconTitleFile": "wallet.png",
                        "source": "wallet_ui.qml",
			"profile": "roaming",
                        "autoload": false,
                        "profiles":
                        {
                            "desktop":
                            {
                                "captionOffset": 3,
                                "iconLeftPadding": 0,
                                "iconTitleTopPadding": -4
                            },
                            "android":
                            {
                                "captionOffset": 3,
                                "iconLeftPadding": -6,
                                "iconTitleTopPadding": -4
                            }
                        }
                }
	]
}
